html,
body {
  overflow-x: hidden; /*для горизонтального*/
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-family: "Cinzel", serif;
  font-size: calc(12px + 8 * (100vw - 320px) / 880);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-family: "Cinzel", serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  text-align: center;
  padding: 10px;
  border-radius: 20px; /* Закругление углов */
  margin: 20px; /* Отступы сверху, справа и слева */
  max-width: calc(100% - 40px); /* Ширина с учетом отступов */
  box-sizing: border-box;
  background-color: #ddd0dd57;
}
.left-buttons,
.right-buttons {
  display: flex;
}
.right-buttons {
  padding-right: 20px; /* Добавляет отступ справа для контейнера */
}

button {
  user-select: none;
  text-decoration: none;
  margin: 0 5px;
  border: none;
  text-align: center;
  box-shadow: none; /* Убирает тень */
  font-family: "Roboto", sans-serif;
  font-size: 15px; /* Размер шрифта */
  font-weight: bold; /* Жирность шрифта */
  color: #000000; /* Цвет текста */
  border-radius: 10px; /* Закругляем углы */
  padding: 10px 20px; /* Внутренние отступы */
  font-size: 15px; /* Размер шрифта */
  cursor: pointer; /* Курсор в виде указателя */
  transition: background-color 0.3s; /* Плавное изменение фона при наведении */
}
button:hover {
  background-color: #d1d5d6ec; /* Фон кнопки при наведении */
}
.right-button:hover {
  background-color: transparent; /* Убирает фон */
  border: none; /* Убирает границы */
  box-shadow: none; /* Убирает тени */
}

h {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 50%; /* Центрирование по горизонтали */
  transform: translate(-50%);
}
h2 {
  position: absolute;
  left: 4%; /* Центрирование по горизонтали */
  transform: translate(-30%, -100%);
}
.image-button img {
  width: 25px; /* Укажите нужную ширину */
  height: 25px; /* Укажите нужную высоту */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.non-selectable {
  user-select: none; /* Предотвращает выделение текста */
}

.slider {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-height: 50%;
  position: relative;
  user-select: none;
  border-radius: 20px; /* Закругление углов */
  position: relative;
  overflow: hidden;
  max-width: 50%;
  left: 50%; /* Центрирование по горизонтали */
  transform: translate(-50%);
  margin-bottom: 5%;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  max-width: 100%; /* Адаптируйте это значение под ваш дизайн */
  width: 100%; /* Задает ширину изображения относительно его родительского элемента */
}

nav {
  display: block;
  margin: 6.5% auto; /* Верхний отступ равен высоте <header> */
  width: 50%;
  height: 10px;
  text-align: center;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.slider-caption {
  user-select: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: absolute;
  top: 10%; /* Центрирование по вертикали */
  left: 50%; /* Центрирование по горизонтали */
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 24px;
  z-index: 20;
  text-align: center;
}

main {
  flex: 1;
  user-select: none;
  display: block;
  margin: 8% auto; /* Верхний отступ равен высоте <header> */
  width: 100%;
  text-align: center;
  justify-content: flex-end; /* Убедитесь, что контент выравнивается по нижнему краю */
}
.gallery {
  display: flex;
  justify-content: space-between; /* Распределяем элементы с равными отступами */
  padding: 20px;
  border-radius: 20px;
}

.image-container {
  position: relative;
  width: 30%; /* Распределение ширины с учетом 5 элементов */
  padding: 1%;
}

.image-container img {
  width: 100%;
  transition: transform 0.3s ease; /* Плавная анимация трансформации */
  border-radius: 20px;
}

.image-container:hover img {
  transform: scale(0.95); /* Сжатие картинки при наведении */
}

.image-container button {
  text-decoration: none;
  background-color: #ffffff;
  position: absolute;
  bottom: -7%; /* Расположение кнопки под картинкой */
  left: 50%;
  transform: translateX(-50%); /* Центрирование кнопки */
  padding: 10px 20px;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.image-container:hover button {
  display: block; /* Показываем кнопку при наведении */
  background-color: #d1d5d6ec;
}
.horizontal-line {
  position: absolute; /* Фиксированное позиционирование относительно вьюпорта */
  margin-top: 3%; /* Расположение по вертикали по центру */
  left: 0;
  right: 0;
  width: 100%; /* Ширина линии равна ширине экрана */
  height: 2px; /* Высота линии */
  background-color: #d1d5d6ec; /* Цвет линии, можно сделать прозрачным, если нужно */
  opacity: 1; /* Начальная прозрачность, делает линию невидимой */
  transition: opacity 0.5s ease; /* Анимация изменения прозрачности */
}
.image-with-text {
  flex: 1;
  text-decoration: none;
  margin-left: 1.7%;
  margin-top: 6.5%;
  position: relative; /* Для позиционирования текста и кнопки относительно этого блока */
  width: 100%; /* Ширина блока подстраивается под контейнер */
}

.image-with-text img {
  border-radius: 20px;
  width: 96.5%; /* Ширина изображения подстраивается под блок */
  height: auto; /* Высота автоматически регулируется для сохранения пропорций */
  display: block; /* Убирает лишние отступы под изображением */
}

.text-overlay {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирует все дочерние элементы по горизонтали */
  justify-content: center; /* Опционально, центрирует по вертикали */
  position: absolute; /* Абсолютное позиционирование внутри родительского блока */
  top: 50%; /* Позиционирование по вертикали */
  left: 0; /* Позиционирование по горизонтали */
  transform: translateY(-50%); /* Центрирование блока по вертикали */
  padding: 20px; /* Отступы внутри блока с текстом и кнопкой */
  width: 50%; /* Ширина блока с текстом и кнопкой */
  box-sizing: border-box; /* Включает padding в общую ширину */
}

.text-overlay p {
  font-family: "Roboto", sans-serif;
  font-size: 30px; /* Размер шрифта */
  font-weight: bold; /* Жирность шрифта */
  color: rgb(0, 0, 0); /* Цвет текста */
  margin: 0 0 10px 0; /* Отступы вокруг параграфа */
}

.text-overlay button {
  text-decoration: none;
  display: block; /* Блочное отображение, чтобы кнопка занимала всю ширину контейнера */
  margin-left: auto;
  margin-right: auto; /* Автоматические отступы с обеих сторон центрируют кнопку */
  color: rgb(0, 0, 0); /* Цвет текста кнопки */
  border: 2px solid #000;
  cursor: pointer; /* Курсор в виде руки при наведении */
}
.horizontal-line2 {
  position: absolute; /* Фиксированное позиционирование относительно вьюпорта */
  margin-top: 3%;
  left: 0;
  right: 0;
  height: 2px; /* Высота линии */
  background-color: #d1d5d6ec; /* Цвет линии, можно сделать прозрачным, если нужно */
  opacity: 1; /* Начальная прозрачность, делает линию невидимой */
  transition: opacity 0.5s ease; /* Анимация изменения прозрачности */
}
.center-container {
  margin-top: 7%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80%; /* Адаптивная ширина контейнера */
  aspect-ratio: 16 / 9; /* Соотношение сторон */
  max-width: 1200px; /* Максимальная ширина */
  min-width: 300px; /* Минимальная ширина */
}

@media (max-width: 600px) {
  .center-container {
    top: 10%;
    width: 90%;
  }
}

.content-container {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Обрезает контент вне рамок */
  width: 100%; /* Принимает ширину родителя */
  height: 100%; /* Принимает высоту родителя */
}

.side-image {
  width: 50%; /* Занимает половину контейнера */
  height: 100%; /* Полная высота контейнера */
  object-fit: cover; /* Сохранение пропорций изображения */
}

.text-and-button {
  flex: 1; /* Занимает оставшееся пространство */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ddd0dd57;
  padding: 20px;
}

.text-and-button p,
.text-and-button p1 {
  margin: 0 0 10px 0;
}

.text-and-button button {
  width: auto;
  padding: 10px 20px; /* Увеличение паддинга для лучшей кликабельности */
  color: rgb(0, 0, 0); /* Цвет текста кнопки */
  border: 2px solid #000;
  cursor: pointer; /* Курсор в виде руки при наведении */
}
.text-and-button button:hover {
  background-color: #d1d5d6ec; /* Фон кнопки при наведении */
}
footer {
  position: relative;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #ddd0dd57;
  color: #000000;
  padding: 20px 0;
  margin-top: 50px; /* Добавлен отступ сверху для явного разделения между основным содержимым и футером */
}

.footer-container {
  display: flex;
  justify-content: space-around; /* Равномерное распределение элементов */
  align-items: center; /* Центрирование элементов по вертикали */
}

.footer-section {
  flex: 1; /* Распределение пространства между элементами */
  text-align: center; /* Выравнивание текста по центру */
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: #686666;
  text-decoration: none;
}

.footer-section a {
  display: block;
  color: #686666;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
}

a {
  text-decoration: none;
}

hbags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-family: "Cinzel", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  text-align: center;
  box-sizing: border-box;
  background-color: #ffffff;
}

hbagsh1 {
  flex-grow: 1;
  text-align: center;
  font-size: 40px;
}
.horizontal-linebags {
  position: fixed; /* Фиксированное позиционирование относительно вьюпорта */
  top: 150%; /* Расположение по вертикали по центру */
  left: 0;
  right: 0;
  width: 100%; /* Ширина линии равна ширине экрана */
  height: 2px; /* Высота линии */
  background-color: #d1d5d6ec; /* Цвет линии, можно сделать прозрачным, если нужно */
  opacity: 1; /* Начальная прозрачность, делает линию невидимой */
  transition: opacity 0.5s ease; /* Анимация изменения прозрачности */
}
.products-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product {
  flex: 1;
  text-align: center; /* Центрирование содержимого продукта */
}

.product img {
  width: 100%; /* Адаптивная ширина изображения */
  height: auto; /* Поддержание пропорций изображения */
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование информации о продукте */
  position: relative; /* Для позиционирования флажка */
}

.product-name,
.product-price {
  margin: 5px 0; /* Отступы между элементами */
}

.favorite-button {
  position: absolute;
  right: 10px; /* Позиционирование флажка справа */
  top: 50%; /* Центрирование флажка по вертикали */
  transform: translateY(-50%); /* Точное центрирование флажка */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Размер иконки флажка */
  color: rgb(255, 255, 255); /* Цвет флажка */
}
.main-bags {
  user-select: none;
  display: block;
  margin: 50% auto; /* Верхний отступ равен высоте <header> */
  width: 90%;
  height: 10px;
  text-align: center;
  justify-content: flex-end; /* Убедитесь, что контент выравнивается по нижнему краю */
  font-size: 20px;
}

.gallery-bags {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
}

.image-container-bags {
  position: relative;
  width: 18%;
  margin: 1%;
  width: 100%;
  height: auto;
  border-radius: 20px;
  transition: opacity 0.3s ease; /* Плавная анимация прозрачности */
  overflow: hidden; /* Обрезает все, что выходит за границы контейнера */
}
.image-container-bags:hover img {
  transform: scale(0.95); /* Сжатие картинки при наведении */
}
.image-container-bags img {
  transition: transform 0.3s ease; /* Плавная анимация трансформации */
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.product-info-bags {
  text-align: center;
  margin-top: 10px;
}

.name-and-price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-name-bags,
.product-price-bags {
  font-weight: bold;
  font-size: 16px;
  margin: 2px 0;
}

.favorite-button-bags {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #ccc;
  align-self: flex-end; /* Выравнивание кнопки по правому краю */
  margin-top: 5px; /* Отступ сверху для разделения от цены */
}

.favorite-button-bags:hover {
  color: rgb(0, 0, 0);
}
.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0; /* Изначально скрыта */
}

.image-container-bags:hover .normal-image {
  opacity: 0; /* Скрывает основное изображение */
}

.image-container-bags:hover .hover-image {
  opacity: 1; /* Показывает изображение при наведении */
}
#favoritesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Центрирование элементов по горизонтали */
  gap: 40px; /* Расстояние между элементами */
  padding: 3%;
}

.favoritesItem {
  flex: 0 1 20%; /* Не растягиваться, но позволить сжиматься, базовая ширина элемента - 20% */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Небольшая тень для визуального разделения */
  margin: 15px; /* Отступы вокруг каждого элемента */
  text-align: center; /* Центрирование текста внутри элемента */
}

.favoritesItem img {
  width: 100%; /* Ширина изображения подстраивается под размер элемента */
  height: auto; /* Высота автоматически регулируется */
}
#popup {
  min-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 5px;
}
footer-bags {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 20px; /* Размер шрифта */
  font-weight: bold; /* Жирность шрифта */
  left: 0%;
  top: 145%;
  width: 100%;
  background-color: #ddd0dd57;
  color: #000000;
  padding: 20px 0;
  margin-top: 50px;
}
p {
  font-size: 20px;
}
#cartContainer {
  margin-top: 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Центрирование элементов по горизонтали */
  gap: 10px; /* Расстояние между элементами */
  align-items: center;
}

.cartItem {
  flex: 1 1 20%; /* Каждый элемент занимает 20% ширины контейнера */
  max-width: 20%; /* Максимальная ширина элемента */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Небольшая тень для визуального разделения */
  margin: 10px; /* Отступы вокруг каждого элемента */
  text-align: center; /* Центрирование текста внутри элемента */
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#checkoutButton {
  user-select: none;
  text-decoration: none;
  margin: 0 5px;
  border: none;
  text-align: center;
  box-shadow: none; /* Убирает тень */
  font-family: "Roboto", sans-serif;
  font-size: 15px; /* Размер шрифта */
  font-weight: bold; /* Жирность шрифта */
  color: #000000; /* Цвет текста */
  border-radius: 10px; /* Закругляем углы */
  padding: 10px 20px; /* Внутренние отступы */
  font-size: 15px; /* Размер шрифта */
  cursor: pointer; /* Курсор в виде указателя */
  transition: background-color 0.3s; /* Плавное изменение фона при наведении */
}
/* CSS для кнопки, когда номер введен правильно */
.button-valid {
  border: 2px solid black;
}
